/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|Para el manejo de estilos en los nodos del árbol de selección.    |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

.tipoTree{
	border-right: #448267 2px solid;
	border-top: #448267 2px solid;
	border-left: #448267 2px solid;
	border-bottom: #448267 2px solid;
	background-color: #E6F2ED;
	font-family: "Segoe UI";
	font-size: 10pt;
	color: #2d5544;
	text-decoration: none;
	align:center;
}

.tipoNodoHabilitado{
	font-family		: Segoe UI;
	font-size		: 11px;
	background-color : #ffffff;
}
.tipoNodoDeshabilitado{
	font-family		: Segoe UI;
	font-size		: 11px;
}

.tipoNodoSeleccionado{
	font-family		: Segoe UI;
	font-size		: 11px;
	background-color : #FFF7DE;
}
.tipoNodoASeleccionar{
	font-family		: Segoe UI;
	font-size		: 11px;
	background-color : #FFEBAD;
}


.tipoLetraNodoHabilitado{
    text-decoration: none;
	font-family		: "Segoe UI";
	font-size		: 11px;
	color		: #2D5544;
}
.tipoLetraNodoDeshabilitado{
    text-decoration: none;
	font-family		: Segoe UI;
	font-size		: 11px;
	color		: #cccccc;
}
.tipoLetraNodoSeleccionado{
    text-decoration: none;
    font-family		: Segoe UI;
	font-size		: 11px;
	color		: #CE9400;
}
.tipoLetraNodoASeleccionar{
    text-decoration: none;
	font-family		: Segoe UI;
	font-size		: 11px;
	color		: #2D5544;
}
